.todoPage {
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todoList {
  width: 750px;
}

.addTodo {
  display: flex;
}

.addTodoButtonContainer {
  display: flex;
  width: 75px;
}

.todo {
  display: flex;
  flex-direction: row;
}

.todoButtonContainer {
  display: flex;
  width: 50px;
}