.todoPage {
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todoList {
  display: flex;
  flex-direction: column;
  width: 750px;
  row-gap: 1rem;
}

.addTodo {
  display: flex;
  column-gap: 0.5rem;
}

.addTodoButtonContainer {
  display: flex;
  width: 75px;
}

.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todoButtonContainer {
  display: flex;
  width: 50px;
}